h2 {
  color: green;
  text-align: center; }

.logo {
  width: 56px;
  height: 56px;
  margin-right: 5px; }

.image-product {
  width: 170px;
  height: 170px; }

.thead-dark {
  text-align: center; }

.tbody {
  text-align: center; }

.form-control {
  margin-left: auto; }
