<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <img src="/img/logo.jpg" alt="logo" class="logo">
  <a class="navbar-brand" href="#">Cupid Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product">Products</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trademark">Trademark</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/promotion">Promotion</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manageProduct">Manage Product</span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>